* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    --nav-bar-height: 48px;
}


:focus {
    outline: none;
}

html {
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}


.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-bar-height);
    background-color: #000;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14pt;
    transition: all .3s;
}
.show-top-bar {
    transform: none;
}


#nav-bar {
    width: 100%;
    height: var(--nav-bar-height);
    background-color: #000;
    color: #fff;
}
#nav-bar ul {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}
#nav-bar li {
    height: 100%;
}
#nav-bar li a {
    height: 100%;
    width: var(--nav-bar-height);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav-bar li a img {
    height: 75%;
    width: auto;
    filter: brightness(0) invert(1);
    transition: filter .25s;
}
#nav-bar li a:hover img {
    filter: none;
    height: 80%;
    transition: filter 0s;
}


header {
    width: 100%;
    height: calc( calc(100vh - var(--nav-bar-height)) / 1.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#projects {
    width: 100%;
}
#projects ul {
    width: 100%;
}
#projects li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
#projects li a.image {
    display: flex;
}
#projects li .info {
    padding-left: 16px;
    padding-bottom: 16px;
}
#projects li .info a {
    text-decoration: underline;
    font-size: 18pt;
    font-weight: bold;
    color: #000;
    transition: color .25s;
}
#projects li .info a:hover {
    color: #f00;
}
#projects li .info h3 {
    padding: 12px 0;
}
#projects li .info p {
    font-size: 14p;
}



@media (orientation: portrait) {
    #projects li {
        display: initial;
    }
    #projects li a.image {
        display: flex;
        justify-content: center;
        background-color: #000; 
    }
    #projects li .info {
        padding: 0;
        width: 100%;
    }
    #projects li .info a {
        display: block;
        text-align: center;
        padding: 16px 0;
    }
    #projects li .info h3 {
        padding: 12px 0;
        display: block;
        text-align: center;
    }
    #projects li .info p {
        font-size: 14pt;
        text-align: center;
    }
    #projects li .info {
        padding-bottom: 32px;
    }
}