* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    --nav-menu-height: 128px;
    --nav-menu-height-fixed: 64px;
}

body {
    background-color: #ff4500;
    min-width: 100%;
    min-height: 100vh;
}

:focus {
    outline: none;
}

.navigation-menu-absolute {
    position: absolute;
}
.navigation-menu-fixed {
    position: fixed;
    transform: translateY(-50%);
}
#navigation-menu {
    z-index: 1;
    height: var(--nav-menu-height);
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #ff4500, #ff0);
    box-shadow: 0px 4px 32px  #007;
}

.navigation-menu-absolute header {
    top: 0;
    font-size: 24pt;
}
.navigation-menu-fixed header {
    top: 50%;
    font-size: 18pt
    /* margin-left: 32px; */
}
#navigation-menu header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all .15s;
}

#navigation-menu header p {
    color: #007;
}

main {
    position: absolute;
    top: var(--nav-menu-height);
    left: 0;
    right: 0;
    min-height: calc(100% - var(--nav-menu-height));
    background-image: linear-gradient(90deg, #707, #007);
}

#my-perfil {
    margin: 64px;
    padding: 28px;
    background-image: linear-gradient(-90deg, #707, #007);
    border-radius: 16px;
    display: flex;
    flex-direction: row;

    box-shadow: 0px 0px 8px  #007;
}
#my-perfil-info {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-perfil-info a {
    text-decoration: none;
    transition: filter .5s;
}
#my-perfil-info a:hover {
    filter: invert(1);
}
#my-perfil-name {
    color: #ff4500;
}
#my-perfil-bio {
    padding-top: 16px;
    padding-right: 28px;
    color:  #ff0;
}

main div.category-title {
    background: linear-gradient(90deg,  #f0f, #f00);
    padding: 7px 28px;
    margin: 0 32px;
    border-radius: 1000px;
    box-shadow: 0px 0px 8px  #007;
}
main div.category-title h1 {
    display: inline;
    color: #007;
}

.projects {
    margin: 64px;
    padding: 24px;
    background-image: linear-gradient(-90deg, #707, #007);
    border-radius: 16px;

    box-shadow: 0px 0px 8px  #007;
}
.projects .item {
    margin: 64px 0;
}
.projects .item .item-name {
    text-decoration: none;
}
.projects .item .item-name:hover h2 {
    filter: invert(1);
}
.projects .item .item-name h2 {
    display: inline;
    color: #ff4500;
    font-size: 20pt;
    transition: filter .25s;
}
.projects .item p {
    display: block;
    color: #ff0;
    padding-top: 12px;
}
.projects .item p a:hover {
    color: #ff0;
    text-decoration: underline;
}
.projects .item p a {
    color: #770;
    text-decoration: none;
}

@media (max-width: 700px) {
    #my-perfil {
        flex-direction: column;
        align-items: center;
        margin: 64px 16px;
    }
    #my-perfil img {
        margin: 16px 0;
        width: 128px;
        height: auto;
    }
    #my-perfil-name {
        margin: 8px;
        text-align: center;
    }
    #my-perfil-bio {
        padding: 32px;
    }

    main div.category-title h1 {
        display: block;
        text-align: center;
    }

    .projects {
        margin: 64px 16px;
    }
    .projects .item .item-name h2 {
        display: block;
        padding-bottom: 16px;
    }
}