* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    --nav-menu-height: 128px;
    --nav-menu-height-fixed: 64px;
}

body {
    background-color: #ff4500;
    min-width: 100%;
    min-height: 100vh;
}

:focus {
    outline: none;
}

.navigation-menu-absolute {
    position: absolute;
}
.navigation-menu-fixed {
    position: fixed;
    transform: translateY(-50%);
}
#navigation-menu {
    z-index: 1;
    height: var(--nav-menu-height);
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #ff4500, #ff0);
    box-shadow: 0px 4px 32px  #007;
}

.navigation-menu-absolute header {
    top: 0;
}
.navigation-menu-fixed header {
    top: 50%;
    /* margin-left: 32px; */
}
#navigation-menu header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    font-weight: bold;
    transition: top .15s;
}

#navigation-menu header p {
    background: linear-gradient(-90deg,  #707, #007);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    position: absolute;
    top: var(--nav-menu-height);
    left: 0;
    right: 0;
    min-height: calc(100% - var(--nav-menu-height));
    background-image: linear-gradient(90deg, #707, #007);
}

#my-perfil {
    margin: 64px;
    background-image: linear-gradient(-90deg, #707, #007);
    border-radius: 16px;
    display: flex;
    flex-direction: row;

    box-shadow: 0px 0px 8px  #007;
}
#my-perfil img {
    display: block;
    height: 200px;
    width: auto;
    padding: 2px;
    margin: 28px;
    border-radius: 50%;
    background: linear-gradient(-45deg,  #f00, #0f0, #00f);
}
#my-perfil-info {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-perfil-info a {
    text-decoration: none;
    transition: filter .5s;
}
#my-perfil-info a:hover {
    filter: invert(1);
}
#my-perfil-name {
    background: linear-gradient(90deg,  #ff4500, #ff0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#my-perfil-bio {
    padding-top: 16px;
    padding-right: 28px;
    background: linear-gradient(-90deg,  #ff4500, #ff0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}