* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #450045;

    --navbar-height: 48px;
}

:focus {
    outline: none;
}

body {
    background-color: #fff;
}

.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    background-color: #450045;
    z-index: 1;
}
.navbar-top-header {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: var(--navbar-height);
    font-size: 16pt;
    color: #f07;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.navbar-top-header:hover {
    background-color: rgba(255, 255, 255, .125);
    cursor: pointer;
}

.navbar-top .social-links {
    display: flex;
    flex-direction: row-reverse;
    top: 0;
    float: right;
    height: 100%;
    list-style: none;
}
.navbar-top .social-links li {
    height: var(--navbar-height);
    width: var(--navbar-height);
}
.navbar-top .social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--navbar-height);
    width: var(--navbar-height);
    background-color: transparent;
    transition: background-color .3s;
}
.navbar-top .social-links li a:hover {
    background-color: #fff;
    transition: background-color .1s;
}
.navbar-top .social-links img {
    display: block;
    height: 80%;
    width: auto;
    filter: invert(1);
    transition: filter .15s;
}
.navbar-top .social-links li a:hover img {
    filter: invert(0);
}


main {
    margin-top: var(--navbar-height);
    padding: 0 32px;
}
main article {
    padding-top: 16px;
}
main article h1 {
    font-size: 24pt;
    margin-bottom: 8px;
    text-decoration: underline;
    color: #f07;
}
main article h2 {
    font-size: 16pt;
    margin: 8px 0;
}
main article#about-me p {
    margin: 4px 16px;
}

.project {
    width: calc(100% - 2px);
    min-height: 160px;
    border: 1px solid #f7f;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px 0px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: background-color .3s;
}
.project:hover {
    background-color: #fdf;
    border-color:  #707;
}
.project-info {
    display: block;
    width: 100%;
    padding: 16px;
}
.project-name {
    font-size: 20pt;
    text-decoration: none;
    display: block;
    padding-bottom: 8px;
    color: #f07;
}
.project-name:hover {
    text-decoration: underline;
}
.project p {
    margin: 4px 0;
}


footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #450045;
    height: 48px;
}
footer p {
    color: #f7f;
    text-transform: uppercase;
}
footer a {
    color: #f07;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    main {
        margin-right: 48px;
    }
    .navbar-top .social-links {
        position: fixed;
        right: 0;
        top: var(--navbar-height);
        flex-direction: column;
        background-color: #450045;
        height: calc(100vh - var(--navbar-height));
    }
    footer {
        margin-right: 48px;
    }
}