.gui {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: 5;
  pointer-events: none;

  .navigator {
    pointer-events: auto;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    .dropUp {
      cursor: default;
      width: 2.5rem;
      // height: 2.5rem;

      background: linear-gradient(#f07, #70f);
      border-radius: 2.5rem;

      position: relative;
      overflow: hidden;


      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        color: #000;
        transition: color .2s;
        pointer-events: none;
      }
      .dropUpContent {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        bottom: 100%;

        a {
          position: relative;
          display: block;
          width: 2.5rem;
          height: 2.5rem;
          background: #f07;
          text-decoration: none;
          transition: background .2s;

          i {
            color: #000;
            transition: color .2s;
            pointer-events: none;
          }
          span {
            pointer-events: none;
            position: absolute;
            right: 100%;
            bottom: 50%;
            padding-right: 8px;
            transform: translateY(50%);
            white-space: nowrap;
            font-size: 1rem;
            color: #777;
            transition: color .2s;
          }

          &:hover {
            background: #000;
            
            i {
              color: #fff;
            }

            span {
              color: #fff;
              transition: color 0s;
            }
          }
          &:last-child {
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
          }
        }
      }

      &:hover {
        overflow: initial;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        i {
          color: #fff;
        }
      }
    }
  }
}