.gui {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: 5;
  pointer-events: none;

  .navigator {
    display: inline-block;
    pointer-events: auto;
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    &:hover {
      a {
        position: relative;
        display: block;
        
        &:last-child, &:last-child div {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        &:last-child div {
          background: transparent;
        }
      }
    }

    a {
      display: none;
      width: 2.5rem;
      height: 2.5rem;
      background: #f07;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 0;

      position: absolute;
      bottom: 0;
      right: 0;
      
      padding: 0px 2px;
      
      div {
        width: 100%;
        height: 100%;
        background: #000;
        font-size: 1rem;

        transition: background .2s;

        display: flex;
        align-items: center;
        justify-content: center;


        i {
          font-size: 1.25rem;
          transition: color .2s;
        }
      }

      &:first-child {
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        background: linear-gradient(#70f, #f07);
        padding-top: 2px;

        div {
          border-top-left-radius: 2.5rem;
          border-top-right-radius: 2.5rem;
        }
      }
      &:last-child {
        display: block;
        border-radius: 2.5rem;
        background: linear-gradient(#f07, #70f);
        padding: 2px;

        div {
          border-radius: 2.5rem;
        }
      }
      &:hover {
        div {
          background: transparent;
          transition: background 0s;

          i {
            color: #000;
            transition: color 0s;
          }
        }
      }
    }
  }
}