@charset "UTF-8";

/* === COLOR PALLET === *//*
	blue: #003049;
	red: #d62828;
	orange: #f77f00;
	light-yellow: #fcbf49;
	white: #eae2b7;
*/

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: bold;
	outline: none;

	--nav-bar-height: 48px;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #eae2b7;
}

#bar-buttons {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: var(--nav-bar-height);
	background-color: #003049;
}
#bar-buttons header {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 156px;
	display: flex;
	flex-direction: collumn;
	align-items: center;
	color: #d62828;
	/* font-size: 16pt; */
}
#main-page-redirect {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #d62828;
	transition: all .15s;
}
#main-page-redirect:hover {
	color: #003049;
	background-color: #d62828;
}

#bar-buttons ul {
	position: absolute;
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: collumn;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
#bar-buttons ul li {
	height: 100%;
}
#bar-buttons ul a {
	pointer-events: painted;
	width: 128px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #d62828;
	text-decoration: none;
	transition: all .15s;
}
#bar-buttons ul a:hover {
	color: #003049;
	background-color: #d62828;
}


div#main {
	/* padding: 32px; */
	position: absolute;
	width: 100%;
	top: var(--nav-bar-height);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div#main h1 {
	color: #d62828;
	padding: 16px;
	font-size: 20pt;
	text-align: center;
}
div#main p {
	color: #003049;
	padding: 4px 16px 4px 16px;
	font-size: 12pt;
	text-align: center;
}


@media (orientation: portrait) {
	* {
		--nav-bar-height: 80px;
	}
	
	#bar-buttons header {
		left: 50%;
		transform: translateX(-50%);
	}

	#bar-resp {
		position: absolute;
		width: var(--nav-bar-height);
		height: var(--nav-bar-height);
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	#bar-buttons:focus-within #bar-resp { pointer-events: none; }
	#bar-resp .bar {
		width: 40px;
		height: 4px;
		background-color: #d62828;
		transition: all .2s;
	}
	.bar + .bar {
		margin-top: 8px;
	}
	#bar-buttons:focus-within .bar { background-color: #f77f00; }
	#bar-buttons:focus-within .bar:nth-child(1) { transform: translateY( 12px) rotate(calc( 45deg * 3)); }
	#bar-buttons:focus-within .bar:nth-child(2) { transform: translateX(-64px); opacity: 0; }
	#bar-buttons:focus-within .bar:nth-child(3) { transform: translateY(-12px) rotate(calc(-45deg * 3)); }
	
	#bar-buttons ul {
		width: 100vw;
		height: calc(100vh - var(--nav-bar-height));
		top: var(--nav-bar-height);
		left: 0;
		transform: translateX(100%);
		display: block;
		background-color: #003049;
		pointer-events: painted;
		transition: transform .3s;
	}
	#bar-buttons ul li {
		height: 64px;
		width: 100%;
	}
	#bar-buttons ul a {
		width: 100%;
	}
	#bar-buttons:focus-within ul {
		transform: none;
	}
}