@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	outline: none;

	--nav-bar-height: 48px;
}

::selection {
	background: #f0f;
	color: #00f;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
}

#bar-buttons {
	position: fixed;
	width: 100%;
	height: var(--nav-bar-height);
	background-color: #000;
}
header#main-page {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: var(--nav-bar-height);
	width: var(--nav-bar-height);
	display: flex;
	flex-direction: collumn;
	align-items: center;
	color: #f00;
	/* font-size: 16pt; */
}
header#main-page img {
	width: calc(var(--nav-bar-height) / 1.5);
	height: calc(var(--nav-bar-height) / 1.5);
}
#main-page-redirect {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #f00;
	transition: all .15s;
}
#main-page-redirect:hover {
	color: #000;
	background-color: #f00;
}

#bar-buttons ul {
	position: absolute;
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: collumn;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
#bar-buttons ul li {
	height: 100%;
}
#bar-buttons ul a {
	pointer-events: painted;
	width: 128px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f00;
	text-decoration: none;
	transition: color .15s;
}
#bar-buttons ul a:hover {
	color: #000;
	background-color: #f00;
}


div#main {
	/* padding: 32px; */
	position: absolute;
	width: 100%;
	top: var(--nav-bar-height);
	display: flex;
	flex-direction: column;
	align-items: center;
}
div#main h1 {
	color: #000;
	background-color: #fff;
	width: 100%;
	font-size: 20pt;
	font-weight: 500;
	padding: 32px 0px;
	text-align: center;
	text-decoration: underline;
}
div#main h2 {
	color: #fff;
	background-color: #000;
	font-size: 18pt;
	padding: 16px 0px;
	text-align: center;
	width: 100%;
}
div#main p {
	color: #fff;
	padding: 4px 16px 4px 16px;
	font-size: 12pt;
	text-align: center;
}


div#main .photo-album {
	top: calc(100vh - var(--nav-bar-height));
	width: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div#main .photo-album img {
	height: auto;
	width: 70%;
}


footer {
	width: 100%;
	height: var(--nav-bar-height);
	background-color: #000;
	/* border-top: 1px solid #fff; */
}
footer div.social-links {
	float: right;
	height: 100%;
}
footer div.social-links a {
	display: block;
	height: var(--nav-bar-height);
	width: var(--nav-bar-height);
	transition: background-color .25s;
}
footer div.social-links a img {
	display: block;
	width: 100%;
	height: 100%;
	filter: invert(1);
	transition: -webkit-filter .25s;
}
footer div.social-links a:hover {
	background-color: #fff;
}
footer div.social-links a:hover img {
	filter: invert(0);
}



@media (orientation: portrait) {
	* {
		--nav-bar-height: 80px;
	}
	
	header#main-page {
		left: 50%;
		transform: translateX(-50%);
	}

	#bar-resp {
		position: absolute;
		width: var(--nav-bar-height);
		height: var(--nav-bar-height);
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	#bar-buttons:focus-within #bar-resp { pointer-events: none; }
	#bar-resp .bar {
		width: 40px;
		height: 4px;
		background-color: #f00;
		transition: all .2s;
	}
	.bar + .bar {
		margin-top: 8px;
	}
	#bar-buttons:focus-within .bar { background-color: #ff0; }
	#bar-buttons:focus-within .bar:nth-child(1) { transform: translateY( 12px) rotate(calc( 45deg * 3)); }
	#bar-buttons:focus-within .bar:nth-child(2) { transform: translateX(-64px); opacity: 0; }
	#bar-buttons:focus-within .bar:nth-child(3) { transform: translateY(-12px) rotate(calc(-45deg * 3)); }
	
	#bar-buttons ul {
		width: 100vw;
		height: calc(100vh - var(--nav-bar-height));
		top: var(--nav-bar-height);
		left: 0;
		transform: translateX(100%);
		display: block;
		background-color: #000;
		pointer-events: painted;
		transition: transform .3s;
	}
	#bar-buttons ul li {
		height: 64px;
		width: 100%;
	}
	#bar-buttons ul a {
		width: 100%;
	}
	#bar-buttons:focus-within ul {
		transform: none;
	}


	div#main .photo-album img {
		width: 100%;
		height: auto;
	}
}